@import "./variables";

@mixin title-1 {
  color: $primary-color;
  font-weight: 600;

  font-size: 2rem;

  @media (min-width: $medium-screen-width) {
    font-size: 3rem;
  }

  @media (min-width: $large-screen-width) {
    font-size: 4rem;
  }
}

@mixin title-2 {
  color: $primary-color;
  font-weight: 400;

  font-size: 1.75rem;

  @media (min-width: $medium-screen-width) {
    font-size: 2.5rem;
  }

  @media (min-width: $large-screen-width) {
    font-size: 3rem;
  }
}

@mixin title-3 {
  color: $primary-color;
  font-weight: 400;

  font-size: 1.25rem;

  @media (min-width: $medium-screen-width) {
    font-size: 1.75rem;
  }

  @media (min-width: $large-screen-width) {
    font-size: 2rem;
  }
}

@mixin text {
  color: $primary-color;
  font-weight: 200;

  font-size: 1rem;

  @media (min-width: $medium-screen-width) {
    font-size: 1.1rem;
  }

  @media (min-width: $large-screen-width) {
    font-size: 1.25rem;
  }
}

@mixin modal {
  position: fixed;
  z-index: 10;
  border: 3px solid $primary-color;
  background-color: $background-color;
  max-height: 90%;
  overflow-y: auto;

  top: 5%;
  left: 10%;
  width: 80%;

  @media (min-width: $medium-screen-width) {
    top: 10%;
    left: 20%;
    width: 60%;
  }

  @media (min-width: $large-screen-width) {
    top: 10%;
    left: 27.5%;
    width: 45%;
  }
}
